doctype html
html
  head
    meta(charset="utf-8")
    |
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    |
    meta(name="description" content="Platform for people to keep track of albums they have listened to")
    |
    meta(name="author" content="Victor Akinyokun")
    |
    link(rel="icon" href="")
    |
    title Garland...Your albums meta-repo
    |
    link(href="./css/3rd/bootstrap.min.css" rel="stylesheet")
    link(href="./css/index.css" rel="stylesheet")
  body
    header
     div(class="collapse bg-dark" id="navbarHeader")
      div(class="container")
        div(class="row")
          div(class="col-sm-8 col-md-7 py-4")
            h4(class="text-white") About
            p(class="text-muted") Garland is an online platform for users to come show a bit of their beutiful souls thtough the nusic the have listened to
          div(class="col-sm-4 offset-md-1 py-4")
            h4(class="text-white") Contact
            ul(class="list-unstyled")
              li #[a(href="#" class="text-white") Follow on Twitter]
              li #[a(href="#" class="text-white") Like on Facebook]
              li #[a(href="#" class="text-white") Mail]
     div(class="navbar navbar-dark bg-dark box-shadow")
      div(class="container d-flex justify-content-between")
        a(href="#" class="navbar-brand d-flex align-items-center")
          svg(xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2")
            path(d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z")
            circle(cx="12" cy="13" r="4")
          strong= 'Garland'
        div
          a(href="#" class="btn my-2" data-toggle="modal" data-target="#login") Login 
          a(href="signup" class="btn my-2" data-toggle="modal" data-target="#signup") Signup 
          button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation")
            span(class="navbar-toggler-icon")
    main(class="main")
      section(class="jumbotron text-center")
        div(class="container")
          if (err) 
            p(class="alert alert-danger") Wrong credentials
          //- p(class="alert alert-warning") Wrong credentials
          h1(class="jumbotron-heading") Album collection
          p(class="lead text-muted") Something short and leading about the collection below—its contents, the creator, etc.
            
      div(class="album py-5 bg-light")
        div(class="container")

          div(class="row")
            
            div(class="col-md-4")
              div(class="card mb-4 box-shadow")
                img(class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap")
                div(class="card-body")
                  p(class="card-text") This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                  div(class="d-flex justify-content-between align-items-center")
                    div(class="btn-group")
                      button(type="button" class="btn btn-sm btn-outline-secondary") View
                      button(type="button" class="btn btn-sm btn-outline-secondary") Edit
                    small(class="text-muted") 9 mins
            
            div(class="col-md-4")
              div(class="card mb-4 box-shadow")
                img(class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap")
                div(class="card-body")
                  p(class="card-text") This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                  div(class="d-flex justify-content-between align-items-center")
                    div(class="btn-group")
                      button(type="button" class="btn btn-sm btn-outline-secondary") View
                      button(type="button" class="btn btn-sm btn-outline-secondary") Edit
                    small(class="text-muted") 9 mins
            
            div(class="col-md-4")
              div(class="card mb-4 box-shadow")
                img(class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap")
                div(class="card-body")
                  p(class="card-text") This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                  div(class="d-flex justify-content-between align-items-center")
                    div(class="btn-group")
                      button(type="button" class="btn btn-sm btn-outline-secondary") View
                      button(type="button" class="btn btn-sm btn-outline-secondary") Edit
                    small(class="text-muted") 9 mins
            
            div(class="col-md-4")
              div(class="card mb-4 box-shadow")
                img(class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap")
                div(class="card-body")
                  p(class="card-text") This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                  div(class="d-flex justify-content-between align-items-center")
                    div(class="btn-group")
                      button(type="button" class="btn btn-sm btn-outline-secondary") View
                      button(type="button" class="btn btn-sm btn-outline-secondary") Edit
                    small(class="text-muted") 9 mins
            
            div(class="col-md-4")
              div(class="card mb-4 box-shadow")
                img(class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap")
                div(class="card-body")
                  p(class="card-text") This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                  div(class="d-flex justify-content-between align-items-center")
                    div(class="btn-group")
                      button(type="button" class="btn btn-sm btn-outline-secondary") View
                      button(type="button" class="btn btn-sm btn-outline-secondary") Edit
                    small(class="text-muted") 9 mins
            
            div(class="col-md-4")
              div(class="card mb-4 box-shadow")
                img(class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap")
                div(class="card-body")
                  p(class="card-text") This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                  div(class="d-flex justify-content-between align-items-center")
                    div(class="btn-group")
                      button(type="button" class="btn btn-sm btn-outline-secondary") View
                      button(type="button" class="btn btn-sm btn-outline-secondary") Edit
                    small(class="text-muted") 9 mins

    footer(class="text-muted")
      div(class="container")
        p(class="float-right")
          a(href="#") Back to top
        p Garland is a web platform for users to share and review music albums they have listened to</p>


<!-- Modal -->

<!-- login -->
div(class="modal fade" id="login" tabindex="-1" role="dialog" aria-hidden="true")
  div(class="modal-dialog modal-dialog-centered" role="document")
    div(class="modal-content")
      div(class="modal-header")
        h5(class="modal-title" id="") login
        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
      div(class="modal-body")
        form(method="post" action="/login")
          div(class="form-group row")
            label(for="" class="col-sm-2 col-form-label") Email
            div(class="col-sm-10")
              input(type="email" name="email" class="form-control" id="login-email" placeholder="email@example.com")
          div(class="form-group row")
            label(for="password" class="col-sm-2 col-form-label") Password
            div(class="col-sm-10")
              input(type="password" name="password" class="form-control" id="login-password" placeholder="password")
          button(type="submit" class="btn btn-primary float-right") login
      div(class="modal-footer")

<!-- signup -->
div(class="modal fade" id="signup" tabindex="-1" role="dialog" aria-hidden="true")
  div(class="modal-dialog modal-dialog-centered" role="document")
    div(class="modal-content")
      div(class="modal-header")
        h5(class="modal-title" id="") Create an   account
        button(type="button" class="close" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") &times;
      div(class="modal-body")
        div(id="error-alerts")
        //- div(class="alert alert-danger" role="alert")
        form(method="post" action="/signup" id="signupForm")
          div(class="form-group row")
            label(for="fullname" class="col-sm-2 col-form-label") Fullname
            div(class="col-sm-10")
              input(type="text" name="fullname" class="form-control" id="signup-fullname" placeholder="fullname")
          div(class="form-group row")
            label(for="email" class="col-sm-2 col-form-label") Email
            div(class="col-sm-10")
              input(type="email" name="email" class="form-control" id="signup-email" placeholder="email@example.com")
          div(class="form-group row")
            label(for="password" class="col-sm-2 col-form-label") Password
            div(class="col-sm-10")
              input(type="password" name="password" class="form-control" id="signup-password" placeholder="password")
          div(class="form-group row")
            label(for="confirmPassword" class="col-sm-2 col-form-label")
            div(class="col-sm-10")
              input(type="password" name="confirmPassword" class="form-control" id="signup-confirm" placeholder="Confirm password")
          button(type="submit" class="btn btn-primary float-right") Sign up
        
      div(class="modal-footer")
        
    script(src="./js/3rd/jquery.min.js")
    script(src="./js/3rd/bootstrap.min.js")
    script(src="./js/3rd/holder.min.js")
    script(src="./js/garland.js")
      




   



