doctype html
html
  head
    meta(charset="utf-8")
    |
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    |
    meta(name="description" content="Platform for people to keep track of albums they have listened to")
    |
    meta(name="author" content="Victor Akinyokun")
    |
    link(rel="icon" href="")
    |
    title Garland...Your albums meta-repo
    |
    link(href="./css/3rd/bootstrap.min.css" rel="stylesheet")
    link(href="./css/index.css" rel="stylesheet")
  body
    header
     div(class="collapse bg-dark" id="navbarHeader")
      div(class="container")
        div(class="row")
          div(class="col-sm-8 col-md-7 py-4")
            h4(class="text-white") About
            p(class="text-muted") Garland is an online platform for users to come show a bit of their beutiful souls thtough the nusic the have listened to
          div(class="col-sm-4 offset-md-1 py-4")
            h4(class="text-white") Contact
            ul(class="list-unstyled")
              li #[a(href="#" class="text-white") Follow on Twitter]
              li #[a(href="#" class="text-white") Like on Facebook]
              li #[a(href="#" class="text-white") Mail]
     div(class="navbar navbar-dark bg-dark box-shadow")
      div(class="container d-flex justify-content-between")
        a(href="#" class="navbar-brand d-flex align-items-center")
          svg(xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2")
            path(d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z")
            circle(cx="12" cy="13" r="4")
          strong= 'Garland'
        div
          a(href="#" class="btn my-2") Login 
          a(href="#" class="btn my-2") Signup 
          button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation")
            span(class="navbar-toggler-icon")
    main(class="main")
      section(class="jumbotron text-center")
        div(class="container")
          h1(class="jumbotron-heading") Album collection
          p(class="lead text-muted") Something short and leading about the collection below—its contents, the creator, etc.
            
      div(class="album py-5 bg-light")
        div(class="container")

          div(class="row")
            
            div(class="col-md-4")
              div(class="card mb-4 box-shadow")
                img(class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap")
                div(class="card-body")
                  p(class="card-text") This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                  div(class="d-flex justify-content-between align-items-center")
                    div(class="btn-group")
                      button(type="button" class="btn btn-sm btn-outline-secondary") View
                      button(type="button" class="btn btn-sm btn-outline-secondary") Edit
                    small(class="text-muted") 9 mins
            
            div(class="col-md-4")
              div(class="card mb-4 box-shadow")
                img(class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap")
                div(class="card-body")
                  p(class="card-text") This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                  div(class="d-flex justify-content-between align-items-center")
                    div(class="btn-group")
                      button(type="button" class="btn btn-sm btn-outline-secondary") View
                      button(type="button" class="btn btn-sm btn-outline-secondary") Edit
                    small(class="text-muted") 9 mins
            
            div(class="col-md-4")
              div(class="card mb-4 box-shadow")
                img(class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap")
                div(class="card-body")
                  p(class="card-text") This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                  div(class="d-flex justify-content-between align-items-center")
                    div(class="btn-group")
                      button(type="button" class="btn btn-sm btn-outline-secondary") View
                      button(type="button" class="btn btn-sm btn-outline-secondary") Edit
                    small(class="text-muted") 9 mins
            
            div(class="col-md-4")
              div(class="card mb-4 box-shadow")
                img(class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap")
                div(class="card-body")
                  p(class="card-text") This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                  div(class="d-flex justify-content-between align-items-center")
                    div(class="btn-group")
                      button(type="button" class="btn btn-sm btn-outline-secondary") View
                      button(type="button" class="btn btn-sm btn-outline-secondary") Edit
                    small(class="text-muted") 9 mins
            
            div(class="col-md-4")
              div(class="card mb-4 box-shadow")
                img(class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap")
                div(class="card-body")
                  p(class="card-text") This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                  div(class="d-flex justify-content-between align-items-center")
                    div(class="btn-group")
                      button(type="button" class="btn btn-sm btn-outline-secondary") View
                      button(type="button" class="btn btn-sm btn-outline-secondary") Edit
                    small(class="text-muted") 9 mins
            
            div(class="col-md-4")
              div(class="card mb-4 box-shadow")
                img(class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap")
                div(class="card-body")
                  p(class="card-text") This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                  div(class="d-flex justify-content-between align-items-center")
                    div(class="btn-group")
                      button(type="button" class="btn btn-sm btn-outline-secondary") View
                      button(type="button" class="btn btn-sm btn-outline-secondary") Edit
                    small(class="text-muted") 9 mins

    footer(class="text-muted")
      div(class="container")
        p(class="float-right")
          a(href="#") Back to top
        p Garland is ...</p>

    script(src="./js/3rd/jquery.min.js")
    script(src="./js/3rd/bootstrap.min.js")
    script(src="./js/3rd/holder.min.js")
      




   



